<div class="main-container">
	<!-- Sidebar -->
	<div class="sidebar">
		<div class="side-menu">
			<!-- Logo Starts-->
			<div class="logo">
				<a href="#">
					<i class="bi bi-slack"></i>
				</a>
			</div>
			<!-- Logo Ends -->
	
			<!-- Menu icons starts -->
			<div class="menu-items">
				<a [routerLink]="['/customer/jt']" routerLinkActive="active">
					<i class="bi bi-bag-check-fill"></i>
				</a>
				<a [routerLink]="['/customer/jt']" routerLinkActive="active">
					<i class="bi bi-bar-chart-fill"></i>				
				</a>
				<a [routerLink]="['/customer/jt']" routerLinkActive="active">
					<i class="bi bi-archive-fill"></i>
				</a>
			</div>
			<!-- Menu icons ends -->
	
			<!-- Menu Settings -->
			<div class="menu-setting">
				<a [routerLink]="['/customer/jt']" routerLinkActive="active">
					<i class="bi bi-gear"></i> 
				</a>
			</div>
		</div>
	</div>
	<!-- Main content container which render all data  -->
	<div class="main">
		<!-- Company Title -->
		<div class="header">
			<div class="title">
				The Great Table
				<div class="day-field">
					{{weekDays[day-1]}} <i class="bi bi-chevron-compact-down"></i>
				</div>
			</div>
			<div class="header-search">
				<!-- <i class="bi bi-search"></i> -->
				<i class="bi bi-search"></i>
			</div>
		</div>
		<!-- Content Area -->
		<div class="content">
			<!-- Left Container with 80% width -->
			<div class="left-container">
				<div class="left-container-header">
					<h4>Table 5: Mrs. Einstein</h4>
				</div>
				<div class="left-container-content">
					<div class="tab-button">
						<table class="item">
							<tr>
								<td class="" *ngFor="let button of buttonItems; let i=index;">{{button[i]}}</td>
							</tr>
						</table>
					</div>
					<div class="dropdown-button">
						<div class="list-button">
							<p>
								Wine <i class="bi bi-chevron-compact-down"></i>
							</p>
						</div>
					</div>
					<div class="custom-select">
						<select name="alcohol" id="alcohol">
							<option value="volvo">Wine</option>
							<option value="saab">Scotch</option>
							<option value="opel">Whisky</option>
							<option value="audi">Brandy</option>
						  </select>
					</div>
					<div class="content-area">
						<div class="card-area">
							<div class="grid-container">
								<div class="grid-child-1">
									Grid Column 1
								</div>
								<div class="grid-child-2">
									Grid Column 2
								</div>
							</div>

							<div class="grid-container">
								<div class="grid-child-1">
									Grid Column 1
								</div>
								<div class="grid-child-2">
									Grid Column 2
								</div>
							</div>

							<div class="grid-container">
								<div class="grid-child-1">
									Grid Column 1
								</div>
								<div class="grid-child-2">
									Grid Column 2
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-container">
				<div class="right-container-header">
					<b>Split Check</b> 
					<label class="switch">
						<input type="checkbox" checked>
						<span class="slider round"></span>
					  </label>
				</div>
				<div class="right-container-content">
					<h4>Check</h4>
					<div class="grid-container">
						<table class="drink-list">
							<tr>
								<th class="drink-name">Drinks</th>
								<th class="drink-amount-times">      </th>
								<th class="drink-total-amount">${{totalDrinks | number}}</th>
								
							</tr>
							<tr>
								<td>Domain Serene</td>
								<td class="drink-amount-times">$6.00 x 2</td>
								<td class="drink-amount">$12.00</td>
							</tr>
							<tr>
								<td>Water</td>
								<td class="drink-amount-times">$13.50 x 1</td>
								<td class="drink-amount">$13.50</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="button-container">
					<div class="submit-button">
						<div>

						</div>
						<div class="pay-button">
							<span>
								Pay	${{totalAmount | number}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>